<div id="education" class="card">
  <div class="card-block">
    <h3 class="anchor-offset">{{ 'SECTIONS.EDUCATION' | translate }}</h3>
    <div class="flex-row">
      <img class="education-img" src="assets/concordia.png" />
      <div class="description">
        <h4>{{ 'EDUCATION.CONCORDIA.SCHOOL' | translate }}</h4>
        <p>{{ 'EDUCATION.CONCORDIA.DESC' | translate }}</p>
        <h5>{{ 'EDUCATION.CONCORDIA.HONOR' | translate }}</h5>
        <div [innerHTML]="'EDUCATION.CONCORDIA.HONORS' | translate"></div>
      </div>
    </div>

    <div class="flex-row">
      <img class="education-img" src="assets/cem_v_2.jpg" />
      <div class="description">
        <h4>{{ 'EDUCATION.CEM.SCHOOL' | translate }}</h4>
        <p>{{ 'EDUCATION.CEM.DESC' | translate }}</p>
      </div>
    </div>
  </div>
</div>
