.footer {
    background-color: #5d5b5b;
    width: 100%;
    color: white;
    text-align: center;
    padding: 15px;
}

.footer .footer-row {
    display: flex;
    justify-content: space-between;
}

.footer .row.center {
    justify-content: center;
}

.footer p {
    color: white;
    margin: 5px;
}

.footer .fa-heart {
    color: red;
    transition: color 0.3s ease;
}

.footer .fa-heart:hover {
    color: #D4AF37;
}

.footer .icon-row {
    font-size: 1.5em;
    margin: 0;
}

.footer .icon-row i {
    margin: 5px;
    transition: color 0.3s ease;
    cursor: pointer;
}

.footer .icon-row i:hover {
    color: #7b9dbb;
}

a {
    color: unset;
}

.sha {
    font-size: initial;
}

span.link-display {
    font-size: initial;
    transition: all 0.3s ease;
    margin: 0 10px;
}

.about-link {
    text-decoration: none;
}

.about-link:hover span.link-display{
    font-weight: bold;
}

.link-icon {
    display: none;
}

@media screen and (max-width: 470px) {
    .latest-sha {
        display: none;
    }
}

@media screen and (max-width: 838px) {
    .link-icon {
        display: unset;
    }

    .link-display, .link-separator {
        display: none;
    }
}
