<div class="footer">
  <div class="footer-row">
    <p>Made with
      <i class="fa fa-heart" app-hover hoverClass="fa-bounce"></i> in Montréal</p>
    <p class="icon-row latest-sha">
      <a target="__blank" href="{{(apiService.latestSha | async)?.link}}">
        <i class="fa fa-github"></i>
        <span class="sha">{{(apiService.latestSha | async)?.sha}}</span>
      </a>
    </p>
    <p class="icon-row">
      <a class="about-link" target="__blank" *ngFor="let link of links; let last = last" href="{{link.href}}">
        <span class="link-display">{{link.display}}</span>
        <span *ngIf="!last" class="link-separator">|</span>
        <i class="link-icon" [ngClass]="link.icon"></i>
      </a>
    </p>
  </div>
</div>
