#about {
    background-color: lightgray;
    padding: 1rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.img-persona {
    margin: 20px auto;
}

span.link-display {
    transition: all 0.3s ease;
    margin: 0 10px;
}

.about-link {
    text-decoration: none;
}

.about-link:hover span.link-display{
    font-weight: bold;
}

.link-icon {
    display: none;
}

.img-persona img {
    width: 300px;
    border-radius: 50%;
    padding: 0 20px;
    transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 838px) {
    .link-icon {
        display: unset;
    }

    .link-display, .link-separator {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .flex-row {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 415px) {
    .img-persona img {
        width: 200px;
    }
}


.flex-header-with-title {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.flex-header-with-title a {
    color: unset;
}

.flex-header-with-title i {
    font-size: 1.5em;
    margin: 0 5px;
    transition: color 0.3s ease;
    cursor: pointer;
}

.flex-header-with-title i:hover {
    color: #7b9dbb;
}

.wrap-new-line {
    white-space: pre-line;
}
