.flexRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.imgPersona {
  margin: 20px auto;
}

span.linkDisplay {
  transition: all 0.3s ease;
  margin: 0 10px;
  font-size: 13px;
}

.aboutLink {
  text-decoration: none;
}

.aboutLink:hover span.linkDisplay {
  font-weight: bold;
}

.flexHeaderWithTitle .linkIcon {
  display: none;
  margin: 0 5px;
  transition: color 0.3s ease;
  cursor: pointer;
}

.flexHeaderWithTitle .linkIcon:hover {
  color: #7b9dbb;
}

.imgPersona img {
  width: 300px;
  border-radius: 50%;
  padding: 0 20px;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 838px) {
  .flexHeaderWithTitle .linkIcon {
    display: inherit;
  }

  .linkDisplay,
  .linkSeparator {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .flexRow {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 415px) {
  .imgPersona img {
    width: 200px;
  }
}

.flexHeaderWithTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flexHeaderWithTitle a,
.flexHeaderWithTitle a:hover {
  color: rgb(102, 102, 102);
}

.wrapNewLine {
  white-space: pre-line;
}
