#videoHomepage {
  height: 100svh;
  width: 100%;
  overflow-y: hidden;
  object-fit: cover;
}

#headerContainer {
  position: relative;
}

#headerTypewriterContainer {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.titleLabel {
  color: white;
  font-size: 1.2em;
  color: white;
  background-color: #08085d;
  padding: 5px 10px;
  margin-top: 0;
  border-radius: 4px;
}

@keyframes late {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeInLate {
  opacity: 0;
  animation: late 1s ease forwards;
  animation-delay: 4s;
}

.appearDelay {
  animation:
    text 1s 2s steps(25, end) forwards,
    blink-caret 0.8s step-end infinite;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid transparent;
  letter-spacing: 0.02em;
  margin: 0 auto;
  width: 0;
  color: white;
  font-weight: normal;
  font-size: 40px;
  margin-bottom: 5px;
  max-width: fit-content;
}

@keyframes text {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  #headerContainer .appearDelay {
    font-size: 25px;
  }

  .fadeInLate {
    font-size: 18px;
  }
}

@media screen and (max-width: 410px) {
  #headerContainer .appearDelay {
    font-size: 20px;
  }

  .fadeInLate {
    font-size: 15px;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-right-color: transparent;
  }
  50% {
    border-right-color: white;
  }
}

.arrowContainer {
  position: absolute;
  top: calc(100% - 45px);
  left: 50%;
  z-index: 2;
  font-weight: bold;
  transform: translate(-50%, -50%);
}

.goDown {
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
  font-size: 2em;
  padding: 5px 8px;
}

.goDown:hover {
  background-color: lightgray;
  color: black;
}
