<div id="work" class="card">
  <div class="card-block">
    <h3 class="anchor-offset">{{ "SECTIONS.WORK" | translate }}</h3>
    <div class="flex-row" *ngFor="let work of getWork(); let i = index">
      <div style="position: relative" class="{{ getWorkClass(i) }}">
        <div class="dot"></div>
      </div>
      <div class="work-company">
        <p *ngIf="shouldShowCompany(i); else emptyCompany" style="font-weight: bold">{{ work.COMPANY }}</p>
        <p class="remove-spacing reduce-font">{{ work.DATE }}</p>
      </div>
      <div>
        <p style="font-weight: bold">{{ work.POSITION }}</p>
        <p class="remove-spacing reduce-font">{{ work.DESCRIPTION }}</p>
      </div>
    </div>
  </div>
</div>

<ng-template #emptyCompany>
  <p></p>
</ng-template>
