<div id="skills" class="card">
  <div class="card-block">
    <h3>{{ "SECTIONS.SKILLS" | translate }}</h3>

    <div>
      <div *ngFor="let skill of getHardSkills()">
        <p>
          <span>{{ skill.key }}</span>
          <span
            *ngIf="skill.tooltip"
            class="tooltip"
            [ngClass]="skill.tooltipClass ? skill.tooltipClass : 'tooltip-xs'"
          >
            <clr-icon shape="info-circle" size="24"></clr-icon>
            <span class="tooltip-content">{{ skill.tooltip }}</span>
          </span>
        </p>
        <app-animated-progress [item]="skill"></app-animated-progress>
      </div>
      <div class="viewMoreContainer">
        <span
          class="viewMore"
          *ngIf="!hardSkillsExpanded"
          (click)="toggleHardSkillsExpanded()"
          >{{ "VIEW_MORE" | translate }}</span
        >
        <span
          class="viewMore"
          *ngIf="hardSkillsExpanded"
          (click)="toggleHardSkillsExpanded()"
          >{{ "VIEW_LESS" | translate }}</span
        >
      </div>
    </div>
  </div>
</div>
