<div id="skills" class="card">
  <div class="card-block">
    <h3>{{ 'SECTIONS.SKILLS' | translate }}</h3>

    <div class="flex-row">
      <div class="skill-column">
        <h5>Soft Skills</h5>
        <div *ngFor="let skill of softSkills">
          <p>
            <span>{{ 'SKILLS.' + skill.key.toUpperCase() | translate }}</span>
            <span *ngIf="skill.tooltip" class="tooltip" [ngClass]="skill.tooltipClass ? skill.tooltipClass : 'tooltip-xs'">
              <clr-icon shape="info-circle" size="24"></clr-icon>
              <span class="tooltip-content">{{skill.tooltip}}</span>
            </span>
          </p>
          <div class="progress">
            <progress max="100" value="{{skill.value}}"></progress>
          </div>

        </div>
      </div>
      <div class="skill-column">
        <h5>Hard Skills</h5>
        <div *ngFor="let skill of hardSkills">
          <p>
            <span>{{skill.key}}</span>
            <span *ngIf="skill.tooltip" class="tooltip" [ngClass]="skill.tooltipClass ? skill.tooltipClass : 'tooltip-xs'">
              <clr-icon shape="info-circle" size="24"></clr-icon>
              <span class="tooltip-content">{{skill.tooltip}}</span>
            </span>
          </p>
          <div class="progress">
            <progress max="100" value="{{skill.value}}"></progress>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
