.headerV2 {
  position: fixed;
  z-index: 2;
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.hamburger {
  display: none;
  padding: 10px;
  border-radius: 30px;
  color: black;
  background-color: white;
  border: 1px solid darkgrey;
}

.bars {
  background: none;
  border: none;
  padding: 5px 10px;
  margin: unset;
  font-size: 20px;
}

.headerContainer {
  padding: 10px;
  border-radius: 30px;
  margin: 0 auto;
  display: inline;
  color: black;
  background-color: white;
  border: 1px solid darkgrey;

  & > button {
    appearance: none;
    background-color: unset;
    outline: none;
    border: none;
    position: relative;
    padding: 5px;
    margin: 5px 15px;

    &:hover {
      border: none;
    }

    &:hover:after {
      position: absolute;
      content: "";
      height: 2px;
      background-color: #5b5b5b;
      bottom: 0;
      left: 0;
      right: 0;
      filter: blur(5px);
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background-color: lightgrey;
  overflow: hidden;
  opacity: 0.3;
}

.navLink,
.link {
  border: none;
  padding: unset;
  background: none;
  cursor: pointer;
}

#headerLogo {
  width: 40px;
  border-radius: 30px;
  vertical-align: middle;
}

@media screen and (max-width: 850px) {
  .hamburger {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .headerContainer {
    display: none;
  }
}
