/* :host /deep/.header-hamburger-trigger:focus {
    outline: unset;
} */

clr-main-container {
    overflow: hidden;
}

#header-logo {
    width:40px;
    border-radius: 7px;
}

@media screen and (min-width: 768px) {
    .header .header-nav {
        flex-grow: 1;
        justify-content: flex-end;
    }
}

.content-container {
    overflow-x: hidden;
}
