<clr-main-container>
  <clr-header>
    <div class="branding">
      <a class="nav-link" href="#about">
        <img id="header-logo" src="assets/header_logo.png" />
      </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
      <a *ngFor="let link of links" href="{{link.href}}" class="nav-link nav-text">{{link.display}}</a>
    </div>
  </clr-header>
  <div class="content-container">
    <div style="overflow-y: auto">
      <div class="content-area">
        <ng-content select="[main-content]"></ng-content>
      </div>
      <ng-content select="[footer]"></ng-content>
    </div>
  </div>
</clr-main-container>
