<div id="volunteering" class="card">
  <div class="card-block">
    <h3>{{ 'SECTIONS.VOLUNTEERING' | translate }}</h3>
    <h5>{{ 'VOLUNTEERING.DIABLOS.HEADER' | translate }}
      <a href="http://www.footballdiablos.com/">
        <i class="fa fa-link"></i>
      </a>
    </h5>
    <div>
      <p>{{ 'VOLUNTEERING.DIABLOS.DESC' | translate }}</p>
    </div>
    <h5> {{ 'VOLUNTEERING.HABITAT.HEADER' | translate }}
      <a href="https://www.habitat.ca/">
        <i class="fa fa-link"></i>
      </a>
    </h5>
    <div>
      <p>{{ 'VOLUNTEERING.HABITAT.DESC' | translate }}</p>
    </div>
    <h5>{{ 'VOLUNTEERING.MISSION.HEADER' | translate }}
      <a href="https://welcomehallmission.com/">
        <i class="fa fa-link"></i>
      </a>
    </h5>
    <div>
      <p>{{ 'VOLUNTEERING.MISSION.DESC' | translate }}</p>
    </div>
  </div>
</div>
