<div id="volunteering" class="card">
  <div class="card-block">
    <h3>Volunteering</h3>
    <h5>Habitat For Humanity (2017)</h5>
    <h5>Mission Hall (2017)</h5>
    <h5>Football Coach ( 2015 & 2018)</h5>
    <div>
      <p>Quarterbacks coach in my hometown football team. Coaching in Diablos La Prairie Bantam AAA team. Goals are to make sure that the children are able to reconcile competitive sports and school. A football player has to be dedicated, respectful, organized, perseverent, etc. That is, our role as football coach, is to lead children to achieve these goals on a football field, and in their personal life. Also, we want to provide a secure environment for football players to enjoy their favorite sport without serious injuries.</p>
    </div>
  </div>
</div>
