<div id="volunteering" class="card">
  <div class="card-block">
    <h3>Volunteering</h3>
    <h5>Quarterback Football Coach ( 2015 & 2018) <a href="http://www.footballdiablos.com/"><i class="fa fa-link"></i></a></h5>
    <div>
      <p>Quarterback coach in my hometown football team for the Diablos La Prairie Bantam AAA team. My goals are to make sure that the children are able to reconcile competitive sports and school. A football player has to be dedicated, respectful, organized, perseverent, and much more. That is, our role as football coach, is to lead children to achieve these goals on a football field, and in their personal life. Also, it is to provide a secure environment for football players to enjoy their favorite sport without serious injuries.</p>
    </div>
    <h5>Habitat For Humanity (2017) <a href="https://www.habitat.ca/"><i class="fa fa-link"></i></a></h5>
    <div>
      <p>Established in 1892, Welcome Hall Mission has become the largest doorway to help for Montrealers in need. Many programs are available to support the homeless, young single mothers, families and at-risk youth. Providing hope through concrete actions and effective solutions.</p>
    </div>
    <h5>Mission Hall (2017) <a href="https://welcomehallmission.com/"><i class="fa fa-link"></i></a></h5>
    <div>
        <p>Founded in 1985, Habitat for Humanity Canada is a national, nonprofit organization working toward a world where everyone has a decent and affordable place to call home. </p>
      </div>
  </div>
</div>
