.workPosition {
  font-weight: bold;
  font-size: 0.8rem;
}

.flexRow {
  display: flex;
  flex-direction: row;
  position: relative;
}

.workCompany {
  flex-shrink: 0;
  flex-basis: 250px;
}

.removeSpacing {
  /* margin-top: 0; */
  margin-bottom: 0;
}

.reduceFont {
  font-size: 0.8rem;
  margin-top: 0;
}

@media screen and (max-width: 700px) {
  .flexRow {
    flex-wrap: wrap;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
  }

  .workCompany {
    flex-basis: unset;
  }

  .flexRow .dotUp,
  .flexRow .dotDown,
  .dot {
    display: none;
  }
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: lightgrey;
  margin: 1.5rem 0.5rem;
  flex-shrink: 0;
}

.dotUp::after {
  height: calc(1.5rem + 5px);
  top: 0;
  left: calc(50% - 5px);
  display: block;
  background: lightgrey;
  content: "";
  position: absolute;
  width: 10px;
}

.dotDown::before {
  top: calc(1.5rem + 5px);
  left: calc(50% - 5px);
  display: block;
  background: lightgrey;
  content: "";
  position: absolute;
  width: 10px;
  bottom: 0;
}
